body{
background-image: url("../img/light.jpg");
background-size: auto;
}


#heading{
  text-align: center;
  color: black;
  height: 200px;
  font-size: 60px;
}

#logo{
  height:150px;
}

#slogan{
  text-align: center;
  color: #ff4444;
}
